<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  
  <div class="flex-wrapper">
    <div class="create-blog content pb-3">
      <form action = "/blogs" method = "POST">
        <label for="title" class="form-label">Blog title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
        <label for="snippet" class="form-label">Blog snippet:</label>
        <input type="text" class="form-control" id="snippet" name="snippet" required>
        <label for="body" class="form-label">Blog body:</label>
        <textarea id="body" class="form-control" name="body" required></textarea>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("../partials/footer.ejs") %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>
</body>
</html>