<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div id="page-container">
    <div id="content-wrap">
      <div class="about content">
        <h2>About Us</h2>
        <p>This application simply allows users to write and post blogs. Blogs are then stored in a MongoDB cloud database.</p>
        <p>Users can create, read and delete blogs.</p>
        <p>All blogs currently in the database are displayed.</p>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </div>
  
</body>
</html>