<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="flex-wrapper">
      <div class="about content">
        <h2>About Us</h2>
        <p>This application simply allows users to write and post blogs. Blogs are then stored in a MongoDB cloud database.</p>
        <p>Users can create, read and delete blogs.</p>
        <p>All blogs currently in the database are displayed.</p>
      </div>
    <%- include("./partials/footer.ejs") %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>
</html>